<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img id="cat_yowl" src="https://www.petful.com/wp-content/uploads/2015/03/2973212926_93c8840816_b.jpg" class="img-responsive" alt="Image">
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="restaurants">View Restaurants</a></li>
          <li><a href="#">???????</a></li>
          <li><a href="#">???????</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/sessions/new"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="http://cdn.cnn.com/cnnnext/dam/assets/151215115345-40-thai-food-4-penang-curry-1-full-169.jpg" alt="Image">
        <div class="carousel-caption">
          <h1>WELCOME TO YOWL</h1>
          <p>Where your hunger is our passion</p>
        </div>
      </div>

      <div class="item">
        <img src="https://www.petersommer.com/wp-content/uploads/2017/08/antipasto-italy-food.jpg" alt="Image">
        <div class="carousel-caption">
          <h1>WELCOME TO YOWL</h1>
          <p>Your dinner will not be as dissapointing as if you cooked it yourself</p>
        </div>
      </div>

      <div class="item">
        <img src="http://i2.wp.com/www.foodrepublic.com/wp-content/uploads/2015/02/Pla-Rad-Prik_0.jpg?fit=4058%2C2620" alt="Image">
        <div class="carousel-caption">
          <h1>WELCOME TO YOWL</h1>
          <p>There is only a 3% chance you will get food posioning</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container text-center">
    <h3>Start planning your dinner<br></h3>
    <div class="row">
      <div class="col-sm-4">
        <div class="well">
         <h1>Sign Up to Yowl</h1>
         <form class="signUpSignIn" action='???????' method='get'>
           <input type="submit" value="Create a new Account">
         </form>
        </div>
      </div>
      <div class="col-sm-4">
        <img id="welcome_cheesecake" src="http://s3.amazonaws.com/gmi-digital-library/d4b45de8-1878-4deb-ae0e-a69807c42f2b.jpg" class="img-responsive" style="width:100%" alt="Image">
        <div class="centered"><h2>Why not have dessert too?</h2></div>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <h1>Log In to Yowl</h1>
          <form class="signUpSignIn" action='??????' method='get'>
            <input type="submit" value="Sign In">
          </form>
        </div>
      </div>
    </div>
  </div><br>

</body>
</html>
