<h1>Welcome to Yowl</h1>

<label class="navbar navbar-inverse"><%= link_to 'View Restaurants', controller: 'restaurants' %></label>

<img src="https://www.petful.com/wp-content/uploads/2015/03/2973212926_93c8840816_b.jpg">
