<h1>Listing Restaurants</h1>
<%= link_to 'New restaurant', new_restaurant_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.description %></td>
    </tr>
  <% end %>
</table>
