// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#cat_yowl {
  max-width:100px;
  max-height:100px;
}

// #myCarousel {
//   max-height: 300px;
// }

.carousel-inner img {
  width: 100%;
  margin: auto;
  min-height:200px;
  max-height: 600px;
}
