<%= form_with(model: [ @restaurant, @restaurant.reviews.build ]) do |form| %>
  <p>
    <%= form.label :review %><br>
    <%= form.text_area :review %>
  </p>
  <p>
    <%= form.submit 'Post Review' %>
  </p>
  <% end %>
