<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <script src="../assets/javascripts/bootstrap-rating-input.min.js" type="text/javascript"></script>
    <p>
      <p>Rating:
        <input type="number" name="your_awesome_parameter" id="rating-readonly" class="rating" data-clearable="remove" value="<%= review.rating %>" data-readonly="data-readonly"/></p>
    </p>

    <strong>Review:</strong>
    <%= review.comment %>
  </p>

  <p>
    <%= link_to 'Delete Review', [review.restaurant, review],
    method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
</body>
</html>
